{% extends "layout.html" %}
{% block title %} Equipement {% endblock %}

{% block content %}



<div class="container">

  <form method="POST" action="/equipements/add" class="mt-4">

    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Nom de l'équipement</label>
      <input type="text" class="form-control", name="nom_equipement" id="formGroupExampleInput" placeholder="Nom de l'équipement" required>
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Adresse IP</label>
      <input type="text" class="form-control" name="adresse_ip" id="formGroupExampleInput2" placeholder="Adresse IP" required>
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Communauté SNMP</label>
      <input type="text" class="form-control" name="communaute_snmp" id="formGroupExampleInput2" placeholder="Communauté SNMP">
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Nom de l'interface</label>
      <input type="text" class="form-control" name="interface" id="formGroupExampleInput2" placeholder="Nom de l'interface">
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">OID</label>
      <input type="text" class="form-control" name="oid" id="formGroupExampleInput2" placeholder="OID">
    </div>
    
    <button type="submit" class="btn btn-primary" value="Ajouter équipement">Ajouter</button>
  
  </form>
</div>




{% endblock %}
