{% extends "layout.html" %}
{% block title %} Équipements {% endblock %}

{% block content %}

<div class="container">

    <h1 class="mt-2 mb-4">Liste des Équipements</h1>
    <button type="button" class="btn btn-success"> Ajouter Equipement </button>

    <table class="table table-hover">
        <thead>
            <th> Nom </th>
            <th> Adresse IP </th>
            <th> Community </th>
            <th> Sondes </th>
            <th> Actions </th>
        </thead>
        <tbody>
            {% for equipement in equipements %}
            <tr>
                <td> {{ equipement.nom_equipement }}  </td>
                <td> {{ equipement.adresse_ip }} </td>
                <td> {{ equipement.communaute_snmp }} </td>
                <td>
                    
                    {% for index in range(0, equipement.sondes|length) %}
                        <p> {{ equipement.sondes[index].name }} --> {{ equipement.sondes[index].oid }} </p>
                    {% endfor %}
                    
                </td>
                <td>
                    <button type="button" class="btn btn-secondary"> Modifier </button>
                    <button type="button" class="btn btn-danger"> Supprimer </button>
                </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <!-- <a href="/logs">Visualiser les logs</a> -->
</div>
{% endblock %}

