{% extends "layout.html" %}

{% block content %}

    <div class="container">
        <h1 class="mt-2 mb-4"> Accueil </h1>
        
        <div class="mb-4">
            <!-- Formulaire pour démarrer la supervision -->
            <form action="/demarrer_supervision" method="post">
                <button type="submit" class="btn btn-primary">Superviser</button>
            </form>
        </div>

        <div class="alert alert-primary" role="alert">
            <div id="supervised-results">
                <h2>Résultats de Supervision</h2>
                <!-- Les résultats de la supervision seront insérés ici par le script AJAX -->
            </div>
        </div>

        <form action="/arreter_supervision" method="post">
            <button type="submit" class="btn btn-danger">Arrêter la Supervision</button>
        </form>
        
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script>
        setInterval(function() {
            $.ajax({
                url: '/get_supervised_results',
                type: 'GET',
                success: function(data) {
                    var resultsDiv = $('#supervised-results');
                    if (data.length === 0) {
                        resultsDiv.html('<h2>Résultats de Supervision</h2>'); // Réinitialiser à l'état initial
                    } else {
                        resultsDiv.empty(); // Efface les résultats existants
                        data.forEach(function(result) {
                            resultsDiv.append('<p>Équipement: ' + result.name + ', Valeur: ' + result.value + '</p>');
                        });
                    }
                }
            })
            .fail(function() {
                console.error("Erreur lors de la récupération des résultats supervisés.");
            });
        }, 10000); // Rafraîchir toutes les 5 secondes
    </script>
    


    <form action="{{ url_for('logout') }}" method="post">
        <input type="submit" value="Déconnexion">
    </form>
    
    


{% endblock %}
