{% extends "layout.html" %}
{% block title %} Équipements {% endblock %}

{% block content %}

<div class="container">

    <h1 class="mt-2 mb-4">Liste des Équipements</h1>
    <button type="button" class="btn btn-success">
    	<a href="/equipements/add" style="color: white; text-decoration: none;">Ajouter Equipement</a>
    </button>
    <!--<button type="button" class="btn btn-success"> Ajouter Equipement </button>-->

    <table class="table table-hover">
        <thead>
            <th> Nom </th>
            <th> Adresse IP </th>
            <th> Community </th>
            <th> Interface </th>
            <th> OID </th>
            <th> Actions </th>
        </thead>
        <tbody>
            {% for equipement in equipements %}
            <tr>
                <td> {{ equipement.nom_equipement }}  </td>
                <td> {{ equipement.adresse_ip }} </td>
                <td> {{ equipement.communaute_snmp }} </td>
                <td> {{ equipement.interface }} </td>
                <td> {{ equipement.oid }} </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a href="/equipements/{{equipement.nom_equipement}}/edit" class="btn btn-secondary">Modifier</a>

                        <form action="/equipements/{{equipement.nom_equipement}}/delete", method="POST">
                            <button type="submit" class="btn btn-danger"> Supprimer</button>
                        </form>
                    </div>
                    
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


{% endblock %}
