body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4; /* Couleur unie */
    box-shadow: inset 0 0 10px #000000; /* Ombre interne pour ajouter de la profondeur */
    
}

h2 {
    font-size: 24px; /* Augmentez la taille selon vos préférences */
    color: #333; /* Couleur du texte, modifiez selon vos besoins */
    /* Autres styles pour h2 si nécessaire */
}
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 22px);
}

.login-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background-color: #45a049;
}
.error {
    color: red; /* Couleur du message d'erreur */
    /* Autres styles pour le message d'erreur */
}
